<h1>Welcome!</h1>

<p>Please select one of the following options</p>
<ul>
    {{#if loggedIn}}
    <li><a href="/user">User</a></li>
    {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
    {{/if}}
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt autem dicta nihil sed, suscipit facere
    inventore eius placeat maiores quod veritatis voluptas aliquam voluptatem dolorem. Ut inventore amet est aliquam
    corporis eum explicabo unde illo pariatur id expedita optio ea accusantium tempora magni repudiandae eligendi, eos
    vitae quisquam! Vero labore similique magnam possimus, repellat quaerat? Ut voluptas quo sunt labore fuga
    reprehenderit iste aperiam perspiciatis voluptatibus sed soluta esse illo velit autem voluptatum rerum reiciendis,
    nesciunt eos nobis sapiente. Eos, magnam? Quaerat accusantium neque eligendi dolorum, inventore vero facilis, quae
    est repudiandae distinctio illum quia, illo voluptates dolor! Sequi eligendi facere magnam delectus illum, cum neque
    doloremque, eveniet ratione enim sapiente maxime quisquam! Possimus adipisci deleniti reprehenderit totam doloremque
    nam quae a temporibus obcaecati voluptas suscipit at accusamus, quidem ducimus tenetur ab corrupti? Odit ipsam autem
    facere et ullam eos eius, optio odio minus nihil atque provident quidem quaerat nam pariatur corrupti neque! Natus
    eligendi distinctio aut dicta tempora soluta optio hic ea ullam. Voluptatum hic architecto iure molestiae culpa,
    quos itaque eveniet amet sit illo, totam adipisci ipsum aperiam provident autem cupiditate nulla repudiandae sed
    unde doloremque fugit dolor. Quasi ea officia consectetur atque doloremque quisquam dolorum repellendus?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, accusamus. Ad molestiae minus ipsam dolorem, id culpa
    quo nemo voluptates veniam iure, suscipit voluptatem eum quis? Aliquam error neque veritatis nihil eos assumenda,
    dolorem in molestias ea dignissimos ex veniam mollitia quod possimus pariatur fuga excepturi dolores vel. Aperiam
    fuga nobis sint minima necessitatibus totam accusantium quisquam sit minus veritatis corrupti non, vel ea quaerat
    fugiat molestiae, adipisci quis. Magni ratione maxime, soluta possimus saepe nihil? Distinctio sunt quod, unde
    assumenda, reprehenderit corporis facere ullam inventore tenetur veniam aliquid, a quis libero temporibus numquam
    officiis neque adipisci? Corrupti, voluptatum recusandae.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quas, eum, atque provident autem hic voluptate neque odio
    porro dolorum ipsam, a suscipit id exercitationem perspiciatis cum quibusdam? Repellat ducimus iste nobis ad
    similique illo laboriosam fugiat nulla reprehenderit quisquam.</p>