<h2>Login!</h2>
<form action="/login" method="post">
    <input type="text" name="username_login" id="username_login" placeholder="Username">
    <input type="password" name="user_password_login" id="user_password_login" placeholder="Password">
    <input type="submit" value="Login">
</form>