<h2>Sign up!</h2>
<form action="/signup" method="post">
    <input type="text" name="username_signup" id="username_signup" placeholder="Username">
    <input type="password" name="user_password_signup" id="user_password_signup" placeholder="Password">
    <input type="submit" value="Sign Up">
</form>